.cabecalho{
    background-color: rgb(15, 124, 33);
    color: rgb(0, 0, 0);
    display:flex;
    justify-content: center;
}
.imagem-logo{
    width: 100px;
}
.main{
    background-color: rgb(255, 255, 255);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;

}
.imagem-main{
    width: 500px;
}